html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.container-fluid {
    display: flex;
    flex-direction: column;
}

.to-top {
    background: white;
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: #1f1f1f;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
}

.to-top.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}

.shopbycatagory,
.latestProducts,
.features,
.footer {
    margin-top: 40px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    top: 0;
    background-color: rgb(26, 26, 26);
    height: 75px;
    position: fixed;
    z-index: 50;
}

.logo,
.searchbar,
.ctc {
    width: 100%;
}

.logo {
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: x-large;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 25px;
    text-decoration: none;
}

.logo img {
    height: 40px;
}

.searchbar {
    display: flex;
    justify-content: center;
}

.searchbar input {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 10px;
}

.ctc {
    display: flex;
    justify-content: end;
    gap: 10px;
    margin-right: 25px;
}

.loginbtn {
    padding: 5px 10px;
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 30px;
    text-decoration: none;
    color: #000;
    background-color: #fff;
    display: flex;
    align-items: center;
    gap: 5px;
}

.loginbtn img {
    height: 22px;
}

.cartbtn {
    padding: 5px 10px;
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 30px;
    text-decoration: none;
    color: #000;
    background-color: #fff;
    display: flex;
    align-items: center;
    gap: 5px;
}

.cartbtn img {
    height: 22px;
}


#carouselContainer {
    width: 100%;
    height: auto;
    margin-top: 80px;
    overflow: hidden;
}

#carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
}

.carousel-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

#prevBtn,
#nextBtn {
    cursor: pointer;
    position: absolute;
    top: 28%;
    transform: translateY(-28%);
    font-size: 24px;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 50px;
    outline: none;
    opacity: 0.7;
    display: flex;
}

#prevBtn {
    left: 10px;
}

#nextBtn {
    right: 10px;
}


.shopbycatagory {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.sbcHeader label {
    font-weight: 700;
    font-family: sans-serif;
    font-size: 32px;
    color: #fff;
}

.catagoryContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.catagoryContainer div {
    border-radius: 20px;
}

.catagoryContainer div div {
    height: 200px;
    width: 300px;
    object-fit: cover;
    object-position: center;
    position: relative;
    overflow: hidden;
}

.catagoryContainer div div img {
    object-fit: cover;
    object-position: center;
    height: 200px;
    width: 300px;
}

.catagoryContainer div div div {
    position: absolute;
    height: auto;
    bottom: 15px;
    left: 15px;
    border-radius: 0;
    gap: 5px;
    display: flex;
    flex-direction: column;
}

.catagoryContainer div div div label {
    font-family: sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.catagoryContainer div div div button {
    border-radius: 30px;
    border: none;
    padding: 5px 10px;
    font-family: sans-serif;
    font-weight: 500;
    width: 120px;
}


.latestProducts {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 40px;
}

.ltstHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.ltstHeader label {
    font-weight: 700;
    font-family: sans-serif;
    font-size: 32px;
    color: #fff;
}

.ltstHeader a {
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    font-size: large;
    color: white;
    padding: 8px 16px;
    border-radius: 30px;
    background-color: #1f1f1f;
}

.ltstProduct {
    overflow-x: auto;
    display: flex;
    gap: 30px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.ProHeader {
    display: flex;
    justify-content: center;
}

.ProductHeader {
    font-family: sans-serif;
    font-size: 32px;
    font-weight: bold;
    line-height: 1.4;
    color: #fff;
    margin-top: 20px;
}

.productsContainer {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
    margin-top: 10px;
    gap: 15px;
}

.productCard {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 280px;
    height: auto;
    border-radius: 10px;
    background-color: #fff;
}

.cardimg {
    display: flex;
}

.cardimg .img {
    width: 250px;
    height: 250px;
    margin: auto;
    margin-top: 15px;
    object-fit: contain;
}

.carddetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    padding: 10px;
    font-family: sans-serif;
}

.carddetails a {
    color: white;
    background-color: #1f1f1f;
    border: none;
    padding: 5px 10px;
    border-radius: 30px;
    margin-top: 10px;
    text-decoration: none;
}

.carddetails .proTtl {
    font-size: 20px;
    color: #7c7a7b;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 100%;
}

.carddetails .proCat {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #7c7a7b;
    margin-bottom: 5px;
}

.carddetails .proPrice {
    font-size: 20px;
    color: #e44d26;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
}

.carddetails div {
    display: flex;
    gap: 5px;
}

.carddetails div .proRate {
    font-size: 16px;
    color: #7c7a7b;
    font-weight: bold;
}

.carddetails div .proCount {
    font-size: 16px;
    color: #7c7a7b;
    font-weight: bold;
}

.features {
    display: flex;
    flex-direction: column;
    padding: 0 40px;
}

.featuresHeader label {
    font-weight: 700;
    font-family: sans-serif;
    font-size: 32px;
    color: #fff;
}

.features hr {
    width: 100%;
}

.featuresContaint {
    padding: 30px 40px;
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: space-between;
}

.fCard {
    display: flex;
    gap: 20px;
}

.ficon {
    height: 50px;
    width: 50px;
    padding: 10px;
    background-color: #333;
    border-radius: 10px;
    display: flex;
}

.fdetails {
    color: white;
    font-family: sans-serif;
    font-size: 18px;
}

.fdetails h2 {
    margin-bottom: 10px;
    margin-top: 0;
}

.footer {
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    background-color: #171717;
    color: white;
    font-family: sans-serif;
}

.footer hr {
    width: 100%;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.left {
    display: flex;
    gap: 20px;
}

.left h1 {
    margin: 0;
}

.right {
    display: flex;
    gap: 10px;
    align-items: start;
}

.fabout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: auto;
    padding: 0 20px;
}

.fabout h3 {
    margin: 0;
}

.fabout ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.fabout ul li {
    padding: 5px 0;
}

.fabout ul li a {
    text-decoration: none;
    color: #fff;
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bright {
    display: flex;
    gap: 20px;
}

.bright img {
    color: aliceblue;
}

.productpg {
    margin: 90px 10px 0 10px;
}

.filterproductblock{
    display: flex;
    gap: 10px;
}

.filterblock {
    background-color: #1f1f1f;
    width: 300px;
    height: 450px;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    color: white;
    padding: 15px;
}

.flhead{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flhead button{
    border: none;
    border-radius: 30px;
    padding: 4px 6px;
    text-align: center;
    font-family: sans-serif;
}

.filterblock hr {
    width: 100%;
}

.fillHead {
    font-weight: bold;
    font-size: 24px;
}

.cathead {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
}

.catblock{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.checkbox-group {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.checkbox-wrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.custom-checkbox {
    position: relative;
    margin-right: 8px;
    width: 20px;
    height: 20px;
    border: 2px solid #4285f4;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}

.custom-checkbox input {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.custom-checkbox:hover {
    background-color: #f8f9fa;
}

.custom-checkbox input:checked+.checkmark {
    background-color: #4285f4;
    border-color: #4285f4;
}

.checkmark {
    width: 12px;
    height: 12px;
    border-radius: 2px;
    background-color: #fff;
    border: 2px solid #4285f4;
    display: none;
}

.custom-checkbox input:checked+.checkmark {
    display: block;
}

.checkbox-wrapper  {
    font-size: 14px;
}

.priceblock{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
}

.slider-container {
    width: 300px;
    text-align: center;
    margin-top: 5px;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 8px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 5px;
}

input[type="range"]:hover {
    opacity: 1;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #4285f4;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #4285f4;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.amount{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    font-size: medium;
}

.sortbyblock{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    font-family: sans-serif;
}

.sortbyblock label{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
}

.rbcontain{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.radio-button {
    display: flex;
    gap: 10px;
    margin: 0;
    justify-content: center;
    position: relative;
    align-items: center;
    color: white;
    font-size: small;
  }
  
  .radio-button input[type="radio"] {
    position: absolute;
    opacity: 0;
  }
  
  .radio {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #ccc;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    transform: translateZ(-25px);
    transition: all 0.3s ease-in-out;
  }
  
  .radio::before {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }
  
  .radio-button input[type="radio"]:checked + .radio {
    border-color: #5cb85c;
    transform: translateZ(0px);
    background-color: #fff;
  }
  
  .radio-button input[type="radio"]:checked + .radio::before {
    opacity: 1;
  }
  

.productblock{
   background-color: #1f1f1f;
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   width: 100%;
   height: auto;
   font-family: sans-serif;
   color: white;
   padding: 15px;

}

.prhead{
    font-weight: bold;
    font-size: 24px;
}

.productblock hr{
    width: 100%;
}

#toggle-btn{
 display: none;       
}

@media only screen and (max-width: 320px) {
    .container-fluid {
        overflow: hidden;
    }

    .to-top {
        height: 30px;
        width: 30px;
    }

    .to-top img {
        height: 30px;
        width: 30px;
    }

    .navbar {
        display: flex;
        padding: 10px 0;
        height: 40px;
        justify-content: space-between;
        position: fixed;
        width: 100%;
        z-index: 50;
    }

    .logo {
        padding-left: 10px;
        margin: 0;
    }

    .logo,
    .searchbar,
    .ctc {
        width: 100%;
    }

    .searchbar input {
        width: 150px;
    }

    .ctc {
        display: flex;
        justify-content: end;
        gap: 5px;
        padding-right: 10px;
        margin: 0;
    }

    .logo img {
        height: 40px;
    }

    .logo label {
        display: none;
    }

    .loginbtn,
    .cartbtn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 3px;
        height: 20px;
        width: 20px;
    }

    .loginbtn img,
    .cartbtn img {
        height: 18px;
    }

    .loginbtn label {
        display: none;
    }

    .cartbtn label {
        display: none;
    }

    #carouselContainer {
        margin-top: 60px;
        height: 160px;
    }

    #carousel {
        display: flex;
        transition: transform 1s ease-in-out;
    }

    .carousel-item {
        min-width: 100%;
        box-sizing: border-box;
    }

    .carousel-item img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    #prevBtn,
    #nextBtn {
        cursor: pointer;
        position: absolute;
        top: 17%;
        transform: translateY(-17%);
        background-color: #333;
        color: #fff;
        border: none;
        border-radius: 50px;
        outline: none;
        opacity: 0.5;
        display: flex;
        padding: 5px;
    }

    #prevBtn {
        left: 10px;
    }

    #nextBtn {
        right: 10px;
    }

    .shopbycatagory {
        margin-top: 20px;
    }

    .sbcHeader label {
        font-size: x-large;
    }

    .catagoryContainer {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .latestProducts {
        padding: 0 20px;
    }

    .ltstHeader label {
        font-size: x-large;
    }

    .ltstHeader a {
        font-size: small;
    }

    .features {
        margin-top: 20px;
        padding: 0 15px;
    }

    .featuresContaint {
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .featuresHeader label {
        font-size: x-large;
    }

    .ficon {
        height: 30px;
        width: 30px;
        padding: 10px;
    }

    .ficon img {
        height: 30px;
        width: 30px;
    }

    .fCard h2 {
        font-size: large;
    }

    .fCard label {
        font-size: medium;
    }

    .footer {
        margin-top: 20px;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding-bottom: 20px;
    }

    .top {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .left {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .right {
        display: flex;
        flex-direction: column;
    }

    .bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .bleft {
        display: flex;
        text-align: center;
    }

    .bleft label {
        font-size: 14px;
    }

    .productpg{
        overflow: hidden;
    }
    .filterblock{
        width: 250px;
        height: 480px;
        position: absolute;
            top: 90px;
            left: -300px;
            transition: left 0.3s ease-in-out;
            z-index: 10;
    }
    #toggle-btn{
        display: block;       
       }
    .slider-container{
        width: 200px;
    }
    #priceRange{
        width: 200px;
    }
}